.hello-world-banner {
    height: 300px;
    width: 100%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.hello-world {
    font-size: 8em;
    color: white;
    font: HCLRoobertFont;
}

.b-header {
  width: 100%;
  background-color: black;
  height: 48px;
  margin-bottom: 0;

  .title {
    float: left;
    margin-left: 0;
    margin-right: 24px;
    a {
      color: var(--secondary);
    }
    &:visited {
      color: var(--secondary);
    }
    .rtl & {
      float: right;
      margin-right: 0;
      margin-left: 24px;
    }
  }
  nav.links {
      float: left;
      margin-left: 0;
      margin-right: 24px;
  }
}
